.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-bottom: 10%;
}

.menu li {
  display: inline;
  margin-right: 2.5%;
}

.menu li a { 
  text-decoration: none;
  color: #7f8c8d;
  font-weight: bold;
  font-size: 1.5em;
}

.menu li a:hover {
  color: #bdc3c7;
}

.header {
  margin-bottom: 5px;
}
