---
layout: page
title: About Ian
---

<p>Hi there! My name is Ian Tracey, a software engineer from Boston, MA now living in Tucson, AZ.</p>
<p>I believe in the potential software has to shape how we work, live and play. I am with obsessed with finding challenging problems and creating immense value out of the solutions.</p>
<p>I work at <a href="#">Latitude</a> tackling cloud API and infastructure for drone operations, mapping and imagery systems. Previously I have worked on moving money through the internet at  <a href="#">Braintree</a> and an enterprise social network at <a href="#">Cisco</a>.</p>
<p>Besides writing code and designing systems I love discovering great food and coffee, spending time on Spotify, <a href="/hackathons.html">going to hackathons</a>, learning new tools and technology and traveling.</p>
